<% if @note.errors.any? %>
<div class="alert alert-danger col-sm-6 col-sm-offset-3">
    <ul>
        <% @note.errors.full_messages.each do |msg| %>
        <%= msg %><br>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_for @note, :html => { :role => :form, :multipart => true } do |f| %>
<div class="form-horizontal col-lg-9">
    <%= f.text_field :title, :class => "form-control", :placeholder => "Enter title" %><br>
    <%= f.bootsy_area :content, class: "form-control" %>
</div>
<div class="col-lg-3">
    <div class="form-group">
        <%= f.label 'Date published', :class => "control-label" %>
        <%= f.date_field :date, :class => "form-control" %>
    </div>
    <br>
    <div class="form-group">
        <%= f.label 'Tags (comma-separated)', :class => "control-label" %>
        <%= f.text_field :tag_list, :class => "form-control" %>
    </div>
    <br>
    <div class="text-right">
        <%= f.submit :class => "btn btn-default" %>
    </div>
</div>
<% end %>