<% if @note.errors.any? %>
<div class="alert alert-danger col-sm-6 col-sm-offset-3">
    <ul>
        <% @note.errors.full_messages.each do |msg| %>
        <%= msg %><br>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_for @note, :html => { :role => :form, :multipart => true } do |f| %>
    
<div class="form-horizontal">
    <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>

    <hr>
    
    <%= f.text_area :content, class: "wysihtml5 form-control" %>
    
    <div class="form-group col-md-6">
        <%= f.label 'Date published', :class => "control-label" %>
        <%= f.date_field :date, :class => "form-control" %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label 'Tags (comma-separated)', :class => "control-label" %>
        <%= f.text_field :tag_list, :class => "form-control" %>
    </div>
    
    <div class="text-center">
        <%= f.submit :class => "btn btn-default" %>
    </div>
</div>
<% end %>

<script type="text/javascript">
$(document).on('page:load', function(){
    window['rangy'].initialized = false
})
$(document).ready(function(){
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5({ 
        toolbar: {
            "image": false,
        }
    });
  });
})
</script>