<% if @note.errors.any? %>
<div class="alert alert-danger col-sm-6 col-sm-offset-3">
    Errors occurred while saving:
    <ul>
        <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_for @note, :html => { :role => :form, :multipart => true } do |f| %>

<div class="form-horizontal">
    <%= f.text_field :title, :class => "form-control", :placeholder => "Enter title" %><br>
    <%= f.text_area :content, class: "form-control md-editor", id: "note-editor" %>
</div>
<br/>

<% if current_user.image.present? %>
<div class="col-md-1 text-center">
    <img src="<%= current_user.image %>" class="center-block img-fluid avatar-rounded-tiny" ><br/>
</div>
<% end %>

<div class="form-group col-md-3">
    <%= f.label 'Date published' %>
    <div class="edtf-editor">
        <%= f.date_field :date, :value => @note.edtf_date, :class => "edtf-input form-control" %>
        <% if @note.date %>
        <%= hidden_field_tag :date_value, @note.date, { class: "edtf-value" } %>
        <% else %>
        <input type="hidden" class="edtf-value"></input>
        <% end %>
    </div>
</div>

<div class="form-group col-md-8">
    <%= f.label 'Tags (comma-separated)', :class => "col-form-label" %>
    <%= f.text_field :tag_list, value: @note.tag_list.to_s, class: "form-control" %>
</div>
    
<div class="col-md-3 col-md-offset-1">
    <%= f.submit :class => "btn btn-default" %>
</div>

<div class="col-md-8 text-right">
    <small><i>this editor uses markdown. <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">markdown syntax</a></i></small>
</div>

<% end %>