<%= form_for @person, :html => { :role => :form } do |person_form| %>

<div class="form-horizontal">
    <div class="form-group">
        <%= person_form.label 'Full name', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= person_form.text_field :name, :class => "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= person_form.label 'Gender', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= person_form.select :gender, [:male, :female], {}, { :class => "form-control" } %>
        </div>
    </div>
    <div class="form-group">
        <%= person_form.label 'Birth date', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= person_form.date_field :date_of_birth, :class => "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= person_form.label 'Death date', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= person_form.date_field :date_of_death, :class => "form-control" %>
        </div>
    </div>
    
    <div class="form-group">
        <%= person_form.label 'Father', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= person_form.select :father_id, Person.all.reject { |p| (p.id == @person.id) && p.is_female? }.collect { |p| [ p.name, p.id ] }, {include_blank: true}, { :class => "form-control" } %>
        </div>
    </div>
    <div class="form-group">
        <%= person_form.label 'Mother', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= person_form.select :mother_id, Person.all.reject { |p| (p.id == @person.id) && p.is_male? }.collect { |p| [ p.name, p.id ] }, {include_blank: true}, { :class => "form-control" } %>
        </div>
    </div>

    
    <div class="text-center">
        <%= person_form.submit :class => "btn btn-default" %>
    </div>
</div>

<% end %>