<% if @person.errors.any? %>
<div class="alert alert-danger col-sm-6 col-sm-offset-3 text-center">
    <% @person.errors.full_messages.each do |msg| %>
    <%= msg %><br/>
    <% end %>
</div>
<% end %>

<%= form_for @person, :html => { :role => :form } do |person_form| %>

<div class="form-group col-md-5">
    <%= person_form.label 'First name' %>
    <%= person_form.text_field :first_name, :class => "form-control" %>
</div>

<div class="form-group col-md-5">
    <%= person_form.label 'Last name' %>
    <%= person_form.text_field :last_name, :class => "form-control" %>
</div>

<div class="form-group col-md-2">
    <%= person_form.label 'Gender' %>
    <%= person_form.select :gender, [[:male, "M"], [:female, "F"]], {}, { :class => "form-control" } %>
</div>

<div class="form-group col-md-6">
    <%= person_form.label 'Birth date' %>
    <div class="edtf-editor">
        <%= person_form.date_field :date_of_birth, :class => "edtf-input form-control" %>
        <% if @person.date_of_birth %>
        <%= hidden_field_tag :birth_value, @person.date_of_birth.edtf, { class: "edtf-value" } %>
        <% else %>
        <input type="hidden" class="edtf-value"></input>
        <% end %>
    </div>
</div>

<div class="form-group col-md-6">
    <%= person_form.label 'Death date' %>
    <div class="edtf-editor">
        <%= person_form.date_field :date_of_death, :class => "edtf-input form-control" %>
        <% if @person.date_of_death %>
        <%= hidden_field_tag :death_value, @person.date_of_death.edtf, { class: "edtf-value" } %>
        <% else %>
        <input type="hidden" class="edtf-value"></input>
        <% end %>
    </div>
</div>

<div class="form-group col-md-6">
    <%= person_form.label 'Birth place' %>
    <%= person_form.text_field :birthplace, :class => "form-control" %>
</div>

<div class="form-group col-md-6">
    <%= person_form.label 'Burial place' %>
    <%= person_form.text_field :burialplace, :class => "form-control" %>
</div>
    
<div class="form-group col-md-6">
    <%= person_form.label 'Father' %>
    <%= person_form.select :father_id, Person.all.reject { |p| (p.id == @person.id) || p.is_female? }.collect { |p| [ p.full_name, p.id ] }, {include_blank: true}, { :class => "form-control" } %>
</div>

<div class="form-group col-md-6">
    <%= person_form.label 'Mother' %>
    <%= person_form.select :mother_id, Person.all.reject { |p| (p.id == @person.id) || p.is_male? }.collect { |p| [ p.full_name, p.id ] }, {include_blank: true}, { :class => "form-control" } %>
</div>

<div class="form-group col-md-12">
    <%= person_form.label 'Current Spouse' %>
    <%= person_form.select :current_spouse_id, Person.all.reject { |p| p.id == @person.id }.collect { |p| [ p.full_name, p.id ] }, {include_blank: true}, { :class => "form-control" } %>
</div>

<div class="text-center col-sm-12">
    <%= person_form.submit :class => "btn btn-default btn-bottom" %>
</div>

<% end %>