<% if person.can_be_seen_by(current_user) %>
<div class="col-lg-10 col-lg-offset-1">
    <% photo = Photo.tagged(person.tag_name)[0] %>
    <% if photo %>
    <div class="pull-left thumb"><img class="img-responsive" src="<%= photo.image.url(:thumb) %>"></img></div>
    <% else %>
    <div class="pull-left text-center text-muted fake-thumb"><span class="small glyphicon glyphicon-user" style="color: <%= person.is_female? ? '#DB7093' : '#31708f' %>"></span></div>
    <% end %>

    <div class="pull-left">
        <h4>
            <a href="<%= person_path(person) %>"><%= person.full_name %></a> 
        </h4>

        <% if person.date_of_birth.present? || person.date_of_death.present? %>
        <h5 class="text-muted">
            <% if person.date_of_birth.present? && person.date_of_death.present? %>
            <%= person.date_of_birth.year %> - <%= person.date_of_death.year %>
            <% elsif person.date_of_birth.present? && !person.probably_dead? %>
            <%= person.date_of_birth.year %> - Present
            <% elsif person.date_of_birth.present? && person.probably_dead? %>
            <%= person.date_of_birth.year %> - Unknown
            <% elsif person.date_of_death.present? %>
            Unknown - <%= person.date_of_death.year %>
            <% end %>
        </h5>
        <% end %>
    </div>
    <div class="clearfix"></div>
    <hr style="margin: 3px;">
</div>
<% end %>