<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="<%= person_path(person) %>"><h2 class="panel-title"><%= person.name %> (<%= person.gender == 'male' ? :m : :f %>)</h2></a>
        </div>
        <div class="panel-body">
            <% if person.date_of_birth.present? %>
            Birth date: <%= person.date_of_birth %><br>
            <% end %>
            <% if person.date_of_death.present? %>
            Death date: <%= person.date_of_death %>
            <% end %>
        </div>
    </div>
</div>