<div class="col-lg-4">
    <% if person.can_see(current_user) %>

    <% photo = Photo.tagged(person.tag_name)[0] %>
    <% if photo %>
    <div class="pull-left thumb"><img class="img-responsive" src="<%= photo.image.url(:thumb) %>"></img></div>
    <% else %>
    <div class="pull-left text-center text-muted fake-thumb"><h1><span class="small glyphicon glyphicon-user" style="color: <%= person.is_female? ? '#DB7093' : '#31708f' %>"></span></h1></div>
    <% end %>

    <div class="pull-left">
        <h4>
            <a href="<%= person_path(person) %>"><%= person.name %></a> 
            <span class="small glyphicon glyphicon-user" style="color: <%= person.is_female? ? '#DB7093' : '#31708f' %>"></span>
        </h4>

        <% if person.date_of_birth.present? || person.date_of_death.present? %>
        <h5 class="text-muted">
            <% if person.date_of_birth.present? && person.date_of_death.present? %>
            <%= person.date_of_birth.year %> - <%= person.date_of_death.year %>
            <% elsif person.date_of_birth.present? %>
            <%= person.date_of_birth.year %> - Present
            <% elsif person.date_of_death.present? %>
            Unknown - <%= person.date_of_death.year %>
            <% end %>
        </h5>
        <% end %>
    </div>
    <div class="clearfix"></div>
    
    <% else %>
    <div class="pull-left text-center text-muted fake-thumb"><h1>?</h1></div>
    <h4 class="pull-left">Hidden</h4>
    <% end %>
</div>