<div class="col-md-4">
    <div class="panel panel-<%= @person.is_female? ? "pink" : "blue" %>">
        <div class="panel-heading">
            <h2 class="panel-title pull-left"><%= @person.name %></h2>
            <% if @person.date_of_birth.present? || @person.date_of_death.present? %>
            <div class="pull-right"><em>
                <% if @person.date_of_birth.present? && @person.date_of_death.present? %>
                <%= @person.date_of_birth.year %> - <%= @person.date_of_death.year %>
                <% elsif @person.date_of_birth.present? %>
                <%= @person.date_of_birth.year %> - Present
                <% elsif @person.date_of_death.present? %>
                Unknown - <%= @person.date_of_death.year %>
                <% end %>
            </em></div>
            <% end %>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <% if @person.date_of_birth.present? %>
            Birth date: <%= @person.date_of_birth %><br>
            <% end %>
            <% if @person.date_of_death.present? %>
            Death date: <%= @person.date_of_death %>
            <% end %>
        </div>
    </div>
</div>


<% @person.family.each do |otherPerson| %>

<div class="col-md-4">
     <div class="panel panel-<%= otherPerson.is_female? ? "pink" : "blue" %>">
        <div class="panel-heading">
            <a class="pull-left" href="<%= person_path(otherPerson) %>"><h2 class="panel-title"><%= otherPerson.name %></h2></a>
            <% if otherPerson.relationship_to(@person).present? %>
            <div class="pull-right"><em><%= otherPerson.relationship_to(@person).capitalize %></em></div>
            <% end %>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <% if otherPerson.date_of_birth.present? %>
            Birth date: <%= otherPerson.date_of_birth %><br>
            <% end %>
            <% if otherPerson.date_of_death.present? %>
            Death date: <%= otherPerson.date_of_death %>
            <% end %>
        </div>
    </div>
</div>

<% end %>

<% if current_user && current_user.editor? %>
<div class="col-lg-12 text-center">
    <%= link_to 'Edit person', edit_person_path(@person), :class => "btn btn-default" %>
</div>
<% end %>