<div class="page-header row">
    <h3><%= @person.name %> <span class="small glyphicon glyphicon-user" style="color: <%= @person.is_female? ? '#DB7093' : '#31708f' %>"></span><% if current_user && current_user.editor? %>
<%= link_to 'Edit person', edit_person_path(@person), :class => "pull-right btn btn-default" %>
<% end %></h3>
</div>

<div class="row">
<div class="col-md-2 text-right">
    <h4>Facts:</h4>
</div>
<div class="col-md-10">
<% if @person.date_of_birth.present? %>
Birth date: <%= @person.date_of_birth %><br>
<% end %>
<% if @person.date_of_death.present? %>
Death date: <%= @person.date_of_death %>
<% end %>
</div>
</div>

<% if @person.father_id.present? || @person.mother_id.present? %>
<div class="row">
<div class="col-md-2 text-right"><h4>Parents:</h4></div>
<div class="col-md-10">
<%= render @person.parents %>
</div>
</div>
<% end %>

<% if @person.siblings.count > 0 %>
<div class="row">
<div class="col-md-2 text-right"><h4>Siblings:</h4></div>
<div class="col-md-10">
<%= render @person.siblings %>
</div>
</div>
<% end %>

<% if @person.spouses.count > 0 %>
<div class="row">
<div class="col-md-2 text-right"><h4><%= 'Spouse'.pluralize(@person.spouses.count) + ':' %></h4></div>
<div class="col-md-10">
<%= render @person.spouses %>
</div>
</div>
<% end %>

<% if @person.children.count > 0 %>
<div class="row">
<div class="col-md-2 text-right"><h4>Children:</h4></div>
<div class="col-md-10">
<%= render @person.children %>
</div>
</div>
<% end %>