<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Tag</th>
            <th>Format</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% exports.each do |e| %>
        <tr>
            <td><%= render_long_datetime(e.created_at) %></td>
            <td><%= e.tag %></td>
            <td><%= e.format %></td>
            <td><%= e.status %></td>
            <td><%= link_to 'Download', e.archive.url if e.archive.present? %></td>
        </tr>
    <% end %>
    </tbody>
</table>