<% if @photo.errors.any? %>
<div class="alert alert-danger col-sm-6 col-sm-offset-3">
    Errors occurred while saving:
    <ul>
        <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_for @photo, :html => { :role => :form, :multipart => true } do |f| %>

<div class="form-horizontal">
    <div class="form-group">
        <%= f.label 'Title', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= f.text_field :title, :class => "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label 'Date taken', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= f.date_field :date, :class => "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label 'Caption', :class=> "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= f.text_area :description, class: "form-control md-editor", id: "photo-desc-editor" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label 'Tags (comma-separated)', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= text_field_tag :tag_list, @photo.tag_list, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label 'Upload picture', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= image_tag(@photo.image.thumb.url, class: "img-responsive block-centered") if @photo.image? %><br/>
            <%= f.file_field :image, :class => "form-control" %>
            <%= f.hidden_field :image_cache %>
        </div>
    </div>

    <div class="text-center">
        <%= f.submit :class => "btn btn-default" %>
    </div>
</div>

<% end %>