<div class="text-center">
    <%= image_tag @photo.image.url, :class => "img-fluid center-block img-reasonable" %>
    <h2><%= @photo.title %></h2>
    <% if @photo.date.present? %>
    <%= @photo.date %>
    <% end %>
    <% if @photo.description.present? %>
    <%= render_markdown(@photo.description, true) %>
    <% end %>
    <% if @photo.tag_list.count > 0 %>
        <em>Tagged: <%= render_tags(@photo.tag_list) %></em>
        <br><br>
    <% end %>
</div>

<% if current_user && current_user.editor? %>
<div class="col-lg-12 text-center">
    <%= link_to 'Edit photo', edit_photo_path(@photo), :class => "btn btn-default" %>
    <%= link_to 'Delete', @photo,
               method: :delete,
               class: "btn btn-danger",
               data: { confirm: 'Are you sure? This will delete all associated comments as well.' } %>
    <br/>Embed code: <code>![<%= @photo.title %>][<%= @photo.id %>]</code>
    <br><br><br>
</div>
<% end %>

<div class="container">
<div class="row">
<h4>Comments</h4>
<%= render @photo.comments %>
</div>
<% if current_user %>
<div class="row">
<%= render 'comments/form' %>
</div>
<% end %>
</div>