<div class="text-center">
    <%= image_tag @photo.image.url, :class => "img-responsive" %>
    <% if @photo.title.present? %>
    <h2><%= @photo.title %></h2>
    <% end %>
    <% if @photo.date.present? %>
    <%= @photo.date %>
    <% end %>
</div>

<% if current_user && current_user.editor? %>
<div class="col-lg-12 text-center">
    <%= link_to 'Edit photo', edit_photo_path(@photo), :class => "btn btn-default" %>
    <br><br><br>
</div>
<% end %>

<% if current_user %>
<h4>Add a comment:</h4>
<em>Posting as <%= current_user.name %></em>
<%= render 'comments/form' %>
<% end %>

<h4>Comments</h4>
<%= render @photo.comments %>