<!DOCTYPE html>
<html>
<head>
    <title>Familiar</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">familiar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to 'People', people_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Photos', photos_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Notes', notes_path, class: 'nav-link' %>
                </li>

                <% if current_user && current_user.editor? %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to 'Person', new_person_path, class: 'dropdown-item' %>
                        <%= link_to 'Photo', new_photo_path, class: 'dropdown-item' %>
                        <%= link_to 'Note', new_note_path, class: 'dropdown-item' %>
                    </div>
                </li>
                <% end %>
            </ul>   
                    
            <% if !(current_page?(search_path) || current_page?(root_path)) %>
            <form class="form-inline my-2 my-lg-0" action="<%= search_path %>">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="s" id="s" value="<%= params[:s] %>"></input>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <% end %>
            
            <ul class="navbar-nav">
                <% if current_user %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.email %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to 'Profile', view_user_path(current_user.id), class: 'dropdown-item' %>
                        <% if current_user.editor? %>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'Import Data', import_path, class: 'dropdown-item' %>
                        <%= link_to 'Export Data', export_path, class: 'dropdown-item' %>
                        <% end %>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'Sign Out', destroy_user_session_path, class: 'dropdown-item' %>
                    </div>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to 'Sign In or Register', new_user_session_path, class: 'nav-link' %>
                </li>
                <% end %>
            </ul>
        </div>
    </nav> 
    
    <% if !flash.empty? %> 
    <div class="text-center">
        <% flash.each do |name, msg| %>
        <div class="col-md-6 offset-3">
            <%= content_tag :div, msg, :class => "alert alert-#{name}" %>
        </div>
        <% end %>
    </div>
    <% end %>

    <div class="container">
        <%= yield %>
    </div>
    
</body>
</html>
